<% if current_user && current_user.role == true %>
  <h3 class="text-center">Employer DashBoard</h3>
<% else %>
  <h3 class="text-center">User DashBoard</h3>
<% end %>


<p id="notice"><%= notice %></p>




<div class="container">
<h5> Email id: - <%= current_user.email %></h5>
<div class="d-flex justify-content-between py-2">
<% if current_user && current_user.role == true %>
      <h4>User job  Applied list </h4>
<% else %>
    <h4>Employer create job list </h4>
<% end %>
    <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    </div>



    <table class="table px-2">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs_listing.each do | job | %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
</div>







