<p id="notice"><%= notice %></p>
<% if current_user && current_user.role == true %>
  <h3 class="text-center">Employer DashBoard</h3>
<% else %>
  <h3 class="text-center">User DashBoard</h3>
<% end %>

<div class="container">
  <h5> Email id: - <%= current_user.email %></h5>
  <div class="d-flex justify-content-between py-2">
    <% if current_user && current_user.role == true %>
      <h4>Employer create job list </h4>
    <% else %>
      <h4>User job  Applied list </h4>
    <% end %>
    <div class="d-flex">
      <%= link_to "Jobs", jobs_path, class: "btn btn-primary text-white" %>
      <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger ml-2" %>
    </div>
  </div>
  <% if current_user && current_user.role == true %>
    <table class="table px-2">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @job_list.each do | job | %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.description.truncate(25) %></td>
            <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-info text-white" %></td>
            <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <% else %>
  <table class="table px-2">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs_listing.each do | job | %>
        <tr>
          <td><%= job.name %></td>
          <td><%= job.description.truncate(25) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <br>
  </div>
<% end %>








